.header-container {
  width: 100vw;
  background-color: #a1e3bc;
  display: flex;
  justify-content: center;
}

.banner-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}

.logo-lpp {
  width: 75vw;
}

.banner-lpp {
  width: 90vw;
  margin-top: 20px;
}

@media (min-width: 780px) {
  .banner-container {
    width: 80vw;
    max-width: 1080px;
    min-height: calc(100vh - 0.01rem);
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .logo-lpp,
  .banner-lpp {
    height: auto;
  }

  .logo-lpp {
    width: 35vw;
    max-width: 500px;
  }

  .banner-lpp {
    width: 40vw;
    max-width: 500px;
    margin-top: 0;
  }
}
